<table>
    <thead>
        <th>ID</th>
        <th>BACKGROUNDS</th>
        <th>IMAGE</th>
    </thead>

    <tbody>
      <% decorations.each do |decoration| %>
        <tr>
          <td><%= decoration.id %></td>
          <td><%= decoration.name %></td>
          <td>
              <%= form_with model: Decoration, url: decoration_path(decoration), id: "edit-product-container__form", method: :patch, class: "image-form" do |form| %>
                <% if decoration.avatar.attached? %>
                  <%= image_tag decoration.avatar, class: "admin-products-table__img image-image" %>
                <% else %>
                  <%= image_tag "no-product-image.png", class: "admin-products-table__img image-image" %>
                <% end %>
                <div id="edit-product-container__div">
                  <%= form.file_field :avatar, class: "image-select" %>
                  <%= form.submit "Update", class: "image-submit" %>
                </div>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>