<%= form_with(model: decoration) do |form| %>
  <% if decoration.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(decoration.errors.count, "error") %> prohibited this decoration from being saved:</h2>

      <ul>
        <% decoration.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
