<section id="sign-up-in-container">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class:"sign-up-container__form") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="text-input-field">
      <%= f.text_field :name, autofocus: true, autocomplete: "email", placeholder: "name" %>
    </div>

    <div class="text-input-field">
      <%= f.email_field :email, autocomplete: "email", placeholder: "email" %>
    </div>

    <div class="text-input-field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "password (6 characters min)" %>
    </div>

    <div class="text-input-field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm password" %>
    </div>

    <section class="actions">
      <%= f.submit "Sign up", class:"sign-button main-btn" %>
    </div>
  <% end %>
</section>

<p class="before-links"> Already have an account? </p>
<%= render "devise/shared/links" %>