<%= form_with(model: promo_code) do |form| %>
  <% if promo_code.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(promo_code.errors.count, "error") %> prohibited this promo_code from being saved:</h2>

      <ul>
        <% promo_code.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new-promo-code-container__form-labels">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, placeholder: "Type promo title (ex: XMAS30)" %>
  </div>

  <div class="new-promo-code-container__form-labels">
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value, placeholder: "%" %>
  </div>

  <div id="new-promo-code-container__form-categories">
    <%= form.label "Categories", id: "new-product-container__categories-label" %>
    <%= form.collection_check_boxes(:category_ids, @categories, :id, :name, include_hidden: false) %>
  </div>

  <div id="new-promo-code-container__form-brands">
    <%= form.label "Brands", id: "new-product-container__categories-label" %>
    <%= form.collection_check_boxes(:brand_ids, @brands, :id, :name, include_hidden: false) %>
  </div>

  <div>
    <%= form.submit "Add promo code", id: "new-promo-code-container__form-button" %>
  </div>
<% end %>
