<div id="<%= dom_id promo_code %>">
  <p>
    <strong>Title:</strong>
    <%= promo_code.title %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= promo_code.value %>
  </p>

  <p>
    <h2>Applicable to:</h2>
    <% unless promo_code.categories.empty?  %>
      <h3>categories:</h3>
      <ul>
      <% promo_code.categories.each do |category| %>
        <li><%= category.name %></li>
      <% end %>
    <% end %>

    <% unless promo_code.brands.empty? %>
      <h3>brands:</h3>
      <ul>
      <% promo_code.brands.each do |brand| %>
        <li><%= brand.name %></li>
      <% end %>
    <% end %>
  </p>

</div>
