<p style="color: green"><%= notice %></p>

<h1>Promo codes</h1>

<%= link_to "New promo code", new_promo_code_path %>
<%= link_to "Back to products", products_path %>
<% if current_user %>
  <%= link_to "Orders", user_orders_path(current_user) %>
<% end %>

<div id="promo_codes">
  <% @promo_codes.each do |promo_code| %>
    <div style="border: 1px solid black; margin:10px">
      <%= render promo_code %>
      <p>
        <%= link_to "Show this promo code", promo_code %>
      </p>
    </div>
  <% end %>
</div>
