<table>
    <thead>
        <th>ID</th>
        <th>ICONIC</th>
        <th>IMAGE</th>
        <th>ACTIONS</th>
    </thead>

    <tbody>
      <% iconics.each do |iconic| %>
        <tr>
          <td><%= iconic.id %></td>
          <td>
            <div class="set-hide">
              <%= image_tag "icons/edit", class:"admin-products-table__edit-icon set-edit" %>
              <%= iconic.product.name %>
            </div>
            <%= form_with model: Iconic, url: iconic_path(iconic), method: :patch, class: "set-form" do |form| %>
              <%= form.select :product_id, @products.map { |product| [product.name, product.id]}, value: iconic.product.name %>
              <%= form.submit "update", class: "set-submit" %>
            <% end %>
          </td>
          <td>
            <%= form_with model: Product, url: product_path(iconic.product), method: :patch do |form| %>
              <% if iconic.product.iconicImage.attached? %>
                  <%= image_tag iconic.product.iconicImage, class: "admin-iconics-table__img image-image" %>
              <% else %>
                  <%= image_tag "no-product-image.png", class: "admin-iconics-table__img image-image" %>
              <% end %>
              <%= form.file_field :iconicImage %>
              <%= form.submit "✔️" %>
            <% end %>
          </td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
</table>
