<div id="iconic-products-container__grid">
  <div id="iconic-products-container__card">
    <%= image_tag @iconic1.product.images[0], id: "iconic-products-container__img", alt: "iconic-product" %>
    <p id="iconic-products-container__text"><%= @iconic1.product.name %></p>
  </div>

  <div id="iconic-products-container__card">
    <%= image_tag @iconic2.product.images[0], id: "iconic-products-container__img", alt: "iconic-product" %>
    <p id="iconic-products-container__text"><%= @iconic2.product.name %></p>
  </div>

  <div id="iconic-products-container__card">
    <%= image_tag @iconic3.product.images[0], id: "iconic-products-container__img", alt: "iconic-product" %>
    <p id="iconic-products-container__text"><%= @iconic3.product.name %></p>
  </div>
</div>
