<div id="iconic-products-container__grid">
  <div id="iconic-products-container__card">
    <%= image_tag "iconicReact.png", id: "iconic-products-container__img", alt: "iconic-product" %>
    <p id="iconic-products-container__text">React</p>
  </div>

  <div id="iconic-products-container__card">
    <%= image_tag "railsiconic.png", id: "iconic-products-container__img", alt: "iconic-product" %>
    <p id="iconic-products-container__text">Rails</p>
  </div>

  <div id="iconic-products-container__card">
    <%= image_tag "javascripticonic.png", id: "iconic-products-container__img", alt: "iconic-product" %>
    <p id="iconic-products-container__text">JavaScript</p>
  </div>

  <div id="iconic-products-container__card">
    <%= image_tag "iconic1.png", id: "iconic-products-container__img", alt: "iconic-product" %>
    <p id="iconic-products-container__text">Product Name</p>
  </div>

    <div id="iconic-products-container__card">
    <%= image_tag "iconic2.png", id: "iconic-products-container__img", alt: "iconic-product" %>
    <p id="iconic-products-container__text">Product Name</p>
  </div>
</div>
