<div id="iconic-products-container__grid">
  <div id="iconic-products-container__card">
    <%= image_tag "iconic1.png", id: "iconic-products-container__img", alt: "iconic-product" %>
    <p id="iconic-products-container__text">Air Max</p>
  </div>

  <div id="iconic-products-container__card">
    <%= image_tag "iconic2.png", id: "iconic-products-container__img", alt: "iconic-product" %>
    <p id="iconic-products-container__text">Fresh New</p>
  </div>

  <div id="iconic-products-container__card">
    <%= image_tag "iconic3.png", id: "iconic-products-container__img", alt: "iconic-product" %>
    <p id="iconic-products-container__text">Coloured Jump</p>
  </div>

  <div id="iconic-products-container__card">
    <%= image_tag "iconic1.png", id: "iconic-products-container__img", alt: "iconic-product" %>
    <p id="iconic-products-container__text">Product Name</p>
  </div>

    <div id="iconic-products-container__card">
    <%= image_tag "iconic2.png", id: "iconic-products-container__img", alt: "iconic-product" %>
    <p id="iconic-products-container__text">Product Name</p>
  </div>
</div>
