<div id="main-categories-container__grid">
  <div id="main-categories-container__card">
    <%= image_tag "categories/category1.jpg", id: "iconic-products-container__img", alt: "iconic-product" %>
    
    <%= form_with(url: products_path, method: :get, data: { controller: "search-form",      turbo_frame: "products", turbo_action: "advance"}) do |form| %>
      <%= form.hidden_field :query, value: "gym", data: { action: "input->search-form#search"} %>
      <%= form.submit "Gym", class: "main-categories-container__button" %>
    <% end %>
  </div>

  <div id="main-categories-container__card">
    <%= image_tag "categories/category2.jpg", id: "iconic-products-container__img", alt: "iconic-product" %>
    
    <%= form_with(url: products_path, method: :get, data: { controller: "search-form",      turbo_frame: "products", turbo_action: "advance"}) do |form| %>
      <%= form.hidden_field :query, value: "casual", data: { action: "input->search-form#search"} %>
      <%= form.submit "Casual", class: "main-categories-container__button" %>
    <% end %>
  </div>

  <div id="main-categories-container__card">
    <%= image_tag "categories/category3.jpg", id: "iconic-products-container__img", alt: "iconic-product" %>
    
    <%= form_with(url: products_path, method: :get, data: { controller: "search-form",      turbo_frame: "products", turbo_action: "advance"}) do |form| %>
      <%= form.hidden_field :query, value: "running", data: { action: "input->search-form#search"} %>
      <%= form.submit "Running", class: "main-categories-container__button" %>
    <% end %>
  </div>
</div>