<div id="new-arrivals-container__carrousel-div">
  <% @new_arrivals.each do |product| %>
    <div id="new-arrivals-container__new-product-div">
      <div id="new-arrivals-container__image-div">
        <%= image_tag product.image1, id: "new-arrivals-container__img", alt: "new arrival shoes" %>
        <% if current_user %>
          <% if current_user.favorite_products.include?(product) %>
            <%= button_to user_favorite_path(current_user, current_user.favorites.find_by(product: product)), method: :delete, id: "new-arrivals-container__link-favorite" do %>
              <%= image_tag "icons/heart2", alt: "favorite", class: "new-arrivals-container-icon" %>
            <% end %>
          <% else %>
            <%= button_to user_favorites_path(current_user, product_id: product.id), method: :post, id: "new-arrivals-container__link-favorite" do %>
              <%= image_tag "icons/heart", alt: "favorite", class: "new-arrivals-container-icon" %>
            <% end %>
          <% end %>
        <% end %>
        <span id="new-arrivals-container__price"><%= number_to_currency(product.price) %><span>
      </div>
      <%= link_to product_path(product) do %>
        <h3>
        <%= product.name %>
        </h3>
      <% end %>
      <p id="new-arrivals-container__product-description">
        <%= product.description %>
      </p>
      <span>
        <em>New</em>
      </span>
    </div>
  <% end %>

  <%= image_tag "icons/angle-down", alt: "left-arrow", class: "new-arrivals-container__left-arrow" %>
  <%= image_tag "icons/angle-down", alt: "right-arrow", class: "new-arrivals-container__right-arrow" %>
</div>