<section id="headline-container">
  <h1 id="headline-container__h1">STAN SMITH</h1>
  <p id="headline-container__p">A key luxury piece that has versatility at its core. Challenge the status quo in Stan Smith.</p>
  <%= button_to "Check it out!", root_path, id: "headline-container__button" %>
</section>

<section id="new-arrivals-container">
  <h2>New Arrivals</h2>
  <%= render "home/carrousel" %>
</section>

<section id="main-categories-container">
  <h2>Main Categories</h2>
  <%= render "home/main-categories" %>
</section>

<section id="iconic-products-container">
  <h2>Iconic Products</h2>
  <%= render "home/iconic-products" %>
</section>

<%= link_to "Users", users_path %>
<%= link_to "Products", products_path %>

<%= link_to "New Product", new_product_path %>
<% if current_user %>
  <%= link_to "Orders", user_orders_path(current_user) %>
  <%= link_to "New promo code", new_promo_code_path %>
<% end %>

