<section id="headline-container">
  <div id="headline-container__product-1">
    <h1 id="headline-container__h1">VITOR JORDAN</h1>
    <p id="headline-container__p">A key luxury piece that has versatility at its core. Challenge the status quo in Stan Smith.</p>
    <%= link_to "Check it out!", products_path, id: "headline-container__button" %>
  </div>
  
  <div id="headline-container__product-2">
    <h1 id="headline-container__h1">AIR TIAGO</h1>
    <p id="headline-container__p">A key luxury piece that has versatility at its core. Challenge the status quo in Stan Smith.</p>
    <%= link_to "Check it out!", products_path, id: "headline-container__button" %>
  </div>
</section>

<section id="new-arrivals-container">
  <h2>New Arrivals</h2>
  <%= render "home/carrousel" %>
</section>

<section id="main-categories-container">
  <h2>Main Categories</h2>
  <%= render "home/main-categories" %>
</section>

<section id="iconic-products-container">
  <h2>Iconic Products</h2>
  <%= render "home/iconic-products" %>
</section>
