<div id="order-container__column">
  <% @order_items.each do |item| %>
  <% product = Product.find(item.product_id)%>
  
  <div class="order-container__order-item">
    <div>
      <%= link_to product_path(product.id) do %>
        <% if product.image1.attached? %>
            <%= image_tag product.image1, id: "order-container__image" %>
        <% else %>
          <%= image_tag "no-product-image.png", id: "order-container__image" %>
        <% end %>
    </div>

    <div>
      <h3>
        <%= product.name %>
      </h3>
        <% end %>
      
      <p>
        <%= product.description %>
      </p>
  
      <p>
        <strong>Unit price:</strong>
        <%= number_to_currency(product.price) %>
      </p>

      <p>
        <strong>Product Discount:</strong>
        <%= product.discount %>%
      </p>

      <p>
        <strong>Unit price With Discount:</strong>
        <%= number_to_currency(unit_w_d = (product.price * (1 - (product.discount.to_f/100))).ceil(2)) %>
      </p>

      <p>
        <strong>Total price With Discount:</strong>
        <%= number_to_currency(unit_w_d * item.quantity) %>
      </p>
      <p>
        <strong>Promo Code:</strong>
        <%= item.code_discount %>%
      </p>
      <p>
        <strong>Total price with discount and coupon:</strong>
        <%= number_to_currency(item.total_price) %>
      </p>
  
      <% if product.quantity <= 15 %>
        <p id="order-container__few-left">
          <%= image_tag "icons/clock.png", alt: "clock", class: "nav-container-icon" %>
          <strong>Just a few left. Order soon.</strong>
        </p>
      <% end %>

      <%= form_with model: OrderItem, url: user_order_order_item_path(current_user, @order, item), method: :patch do |form| %>
        <div>
          <strong>Quantity:</strong>
          <%= form.number_field :quantity, value: item.quantity, id: "order-container__quantity-input" %>
          <%= form.submit "update", id: "order-container__quantity-button" %>
        </div>
      <% end %>

      <div id="order-container__order-item-buttons">
        <%= button_to user_order_order_item_path(current_user, @order, item), method: :delete, class: "order-container__order-item-button" do %>
          <%= image_tag "icons/heart.png", class: "order-container__order-item-icon" %>
        <% end %>

        <%= button_to user_order_order_item_path(current_user, @order, item), method: :delete, class: "order-container__order-item-button" do %>
          <%= image_tag "icons/trash.png", class: "order-container__order-item-icon" %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
