<% @order_items.each do |item| %>

<% product = Product.find(item.product_id)%>

<div style="background-color: yellow; padding: 10px; border: 1px solid black">
  <p>
    <strong>Product:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>quantity:</strong>
    <%= product.quantity %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= (product.quantity * product.price) %>
  </p>

  <%= button_to "Remove from shopping cart", user_order_order_item_path(current_user, @order, item), method: :delete %>
</div>
<% end %>

