<div id="<%= dom_id order %>" class="orders-container__order">
  <p>
    <strong>Total price:</strong>
    <%= order.order_items.sum(:total_price) %>
  </p>

  <p>
    <% if order.status == "Shopping Cart" %>
      <div id="orders-container__green">
        <strong>Status:</strong>
        <%= order.status %>
      </div>
    <% else %>
      <div id="orders-container__red">
        <strong>Status:</strong>
        <%= order.status %>
      </div>
    <% end %>
  </p>

  <p>
    <strong>Coupons Applied:</strong>
    <% if order.promo_codes.length > 0 %>
      <% order.promo_codes.each do |promo_code| %>
    <div style="display: flex; gap: 5px; background-color: #FFCCCB; padding: 5px; width: max-content;">
      <%= promo_code.title %>
      <%= form_for order, url: user_order_path(current_user, order) do |f| %>
        <div class="field">
          <%= f.hidden_field :promo_code, value: "#{promo_code.title}" %>
        </div>

        <div class="actions">
          <%= f.submit "Remove Code" %>
        </div>
      <% end %>
    </div>
    <% end %>
    <% else %>
      No cupons applied
    <% end %>
  </p>
</div>
