<table>
    <thead>
        <th>ID</th>
        <th>IMAGE</th>
        <th>CATEGORY</th>
        <th>ACTIONS</th>
    </thead>

    <tbody>
        <tr>
          <td><%= home_category.id %></td>
          <td>
            <% if current_page?(admin_category_home_path) %>
              <% if home_category.category.categoryImage.attached? %>
                <%= image_tag home_category.category.categoryImage, class: "admin-iconics-table__img image-image" %>
              <% else %>
                <%= image_tag "no-product-image-16-9.jpg", class: "admin-iconics-table__img image-image" %>
              <% end %>
            <% else %>
              <%= form_with model: HomeCategory, url: home_category_path(home_category), method: :patch, class: "set-form" do |form| %>
                <% if home_category.category.categoryImage.attached? %>
                  <%= image_tag home_category.category.categoryImage, class: "admin-iconics-table__img image-image" %>
                <% else %>
                  <%= image_tag "no-product-image-16-9.jpg", class: "admin-iconics-table__img image-image" %>
                <% end %>              
                <%= form.file_field :categoryImage, accept: "image/jpeg,image/png", options: { button: 'Choose file...' } %>
                <%= form.submit "✔️" %>
              <% end %>
            <% end %>
          </td>
          <td>
            <div class="set-hide">
              <%= image_tag "icons/edit", class:"admin-products-table__edit-icon set-edit" %>
              <%= home_category.category.name %>
            </div>
            <%= form_with model: HomeCategory, url: home_category_path(home_category), method: :patch, class: "set-form" do |form| %>
              <%= form.select :category_id, @categories.map { |category| [category.name, category.id]}, value: home_category.category.name %>
              <%= form.submit "update", class: "set-submit" %>
            <% end %>          
          </td>
          <td></td>
        </tr>
    </tbody>
</table>