<table>
    <thead>
        <th>ID</th>
        <th>IMAGE</th>
        <th>NAME</th>
        <th>PRODUCTS</th>
        <th>ACTIONS</th>
    </thead>

    <tbody>
      <% categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td>
            <% if current_page?(admin_category_home_path) %>
              <% if category.categoryImage.attached? %>
                <%= image_tag category.categoryImage, class: "admin-iconics-table__img image-image" %>
              <% else %>
                <%= image_tag "no-product-image-16-9.jpg", class: "admin-iconics-table__img image-image" %>
              <% end %>
            <% else %>
              <%= form_with(model: category, url: category_path(category), method: :patch) do |form| %>
                <% if category.categoryImage.attached? %>
                  <%= image_tag category.categoryImage, class: "admin-iconics-table__img image-image" %>
                <% else %>
                  <%= image_tag "no-product-image-16-9.jpg", class: "admin-iconics-table__img image-image" %>
                <% end %>              
                <%= form.file_field :categoryImage, accept: "image/jpeg,image/png", options: { button: 'Choose file...' } %>
                <%= form.submit "✔️" %>
              <% end %>
            <% end %>
          </td>
          <td>
            <div class="set-hide">
              <%= image_tag "icons/edit.png", class:"admin-products-table__edit-icon set-edit" %>
              <%= category.name %>
            </div>
            <%= form_with model: Category, url: category_path(category), method: :patch, class: "set-form" do |form| %>
              <%= form.text_field :name, value: category.name %>
              <%= form.submit "update", class: "set-submit" %>
            <% end %>          
          </td>
          <td><%= category.products.count %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
</table>

