    <table>
    <thead>
        <th>ID</th>
        <th>IMAGE</th>
        <th>NAME</th>
        <th>GENDER</th>
        <th>SIZE</th>
        <th>COLOR</th>
        <th>BRAND</th>
        <th>QUANTITIY</th>
        <th>PRICE</th>
        <th>ACTIONS</th>
    </thead>

    <tbody>
      <% products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td>
            <%= form_with(model: Product, url: product_path(product), method: :patch, id: "edit-user-container__form") do |form| %>
              <%= image_tag product.image1, class: "admin-users-table__img" %>
              <%= form.file_field :image1, accept: "image/jpeg,image/png", options: { button: 'Choose file...' } %>
              <%= form.submit "✔️" %>
            <% end %>
          </td>
          <td>
            <div class="set-hide">
              <%= image_tag "icons/edit", class:"admin-products-table__edit-icon set-edit" %>
              <%= product.name %>
            </div>
            <%= form_with model: Product, url: product_path(product), method: :patch, class: "set-form" do |form| %>
              <%= form.text_field :name, value: product.name %>
              <%= form.submit "update", class: "set-submit" %>
            <% end %>
          </td>
          <td>
            <div class="set-hide">
              <%= image_tag "icons/edit", class:"admin-products-table__edit-icon set-edit" %>
              <%= product.gender.capitalize %>
            </div>
            <%= form_with model: Product, url: product_path(product), method: :patch, class: "set-form" do |form| %>
              <%= form.select :gender, ["Male", "Female", "Other"], value: product.gender %>
              <%= form.submit "update", class: "set-submit" %>
            <% end %>
          </td>
          <td>
            <div class="set-hide">
              <%= image_tag "icons/edit", class:"admin-products-table__edit-icon set-edit" %>
              <%= product.size %>
            </div>
            <%= form_with model: Product, url: product_path(product), method: :patch, class: "set-form" do |form| %>
              <%= form.select :size, [5, 5.5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 9.5, 10, 10.5, 11, 11.5, 12, 12.5, 13, 13.5, 14], value: product.size %>
              <%= form.submit "update", class: "set-submit" %>
            <% end %>
          </td>
          <td>
            <div class="set-hide">
              <%= image_tag "icons/edit", class:"admin-products-table__edit-icon set-edit" %>
              <%= product.color.name.capitalize %>
            </div>
            <%= form_with model: Product, url: product_path(product), method: :patch, class: "set-form" do |form| %>
              <%= form.select :color_id, @colors.map { |color| [color.name, color.id]}, value: product.color.name %>
              <%= form.submit "update", class: "set-submit" %>
            <% end %>
          </td>
          <td>
            <div class="set-hide">
              <%= image_tag "icons/edit", class:"admin-products-table__edit-icon set-edit" %>
              <%= product.brand.name.capitalize %>
            </div>
            <%= form_with model: Product, url: product_path(product), method: :patch, class: "set-form" do |form| %>
              <%= form.select :brand_id, @brands.map { |brand| [brand.name, brand.id]}, value: product.brand.name %>
              <%= form.submit "update", class: "set-submit" %>
            <% end %>
          </td>
          <td>
            <div class="set-hide">
              <%= image_tag "icons/edit", class:"admin-products-table__edit-icon set-edit" %>
              <%= product.quantity %>
            </div>
            <%= form_with model: Product, url: product_path(product), method: :patch, class: "set-form" do |form| %>
              <%= form.number_field :quantity, value: product.quantity %>
              <%= form.submit "update", class: "set-submit" %>
            <% end %>
          </td>
          <td>
            <div class="set-hide">
              <%= number_to_currency(product.price) %>
              <%= image_tag "icons/edit", class:"admin-products-table__edit-icon set-edit" %>
            </div>
           <%= form_with model: Product, url: product_path(product), method: :patch, class: "set-form" do |form| %>
              <%= form.number_field :price, step: 0.01, min: 0, value: product.price %>
              <%= form.submit "update", class: "set-submit" %>
            <% end %>
          </td>
          <td>
            <button id="admin-products-table__delete-product-button" type="button">
              <%= image_tag "icons/trash", class:"admin-products-table__delete-icon" %>
            </button>
            <%= link_to image_tag("icons/show", class: "admin-products-table__show-icon"), product, id:"admin-products-table__show-product-button" %>
              
          </td>
        </tr>
        <%# modals PopUps %>
        <div id="admin-products-table__delete-product-popup-wrap">
          <div id="admin-products-table__delete-product-popup">
            <button id="admin-products-table__delete-product-popup-close">
              <%= image_tag "icons/x", id:"admin-products-table__delete-product-popup-close-icon" %>
            </button>
            <p>Are you sure you want to delete this product?</p>
            <p>You still have <%= product.quantity %> available in your stock</p>
            <%= button_to "Yes, delete it", product, method: :delete %>
          </div>
        </div>
      <% end %>
    </tbody>
</table>
