<div id="admin-products-table__delete-product-popup-wrap">
          <div id="admin-products-table__delete-product-popup">
            <button id="admin-products-table__delete-product-popup-close">
              <%= image_tag "icons/x.png", id:"admin-products-table__delete-product-popup-close-icon" %>
            </button>
            <p>Are you sure you want to delete this product?</p>
            <p>You still have <%= product.quantity %> available in your stock</p>

            <%= form_with model: Product, url: product_path(product), method: :patch do |form| %>
              <%= form.hidden_field :archived, value: !product.archived %>
              <%= form.submit "Yes, delete it" %>
            <% end %>

          </div>
        </div>