 <div class="products-container__filters filters_active">
    <%= render "products/search-products" %>
    <div class="products-container__filters-applied-title-div">
      <div class="products-container__filters-applied-title">
        <p>Applied filters:</p>
      
        <%# remove all filters btn %>
        <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
          <button 
            name="clear_filters" 
            type="submit"
            id="clear_filters" 
            value=clear_filters
            data-action="input->search-form#search">
            Clear Filters
          </button>
        <% end %>
      </div>

      <ul class="products-container__applied-filter-sizes">
        <% @genders.each do |gender| %>
          <li class="<%= filter_applied_class(gender.name, "gender") %>">
            <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
              <button 
                name="remove_gender_filter" 
                id="remove_gender_filter" 
                value=<%= gender.name.downcase %>
                type="submit"
                class="applied-filters-btns"
              >
                <%= image_tag "icons/x", alt:"remove filter" %>
                <%= gender.name %> 
              </button>
            <% end %>
          </li>
        <% end %>

        <% @sizes.each do |size| %>
          <li class="<%= filter_applied_class(size.number.to_s, "size") %>">
            <%= form_with(url: products_path, method: :get, data: { controller: "search-form" , turbo_frame: "products", turbo_action: "advance"}) do |form| %>
              <button 
                name="remove_size_filter" 
                id="remove_size_filter" 
                value=<%= size.number %>
                type="submit"
                class="applied-filters-btns"
              >
                <%= image_tag "icons/x.png", alt:"remove filter", class:"applied-filters-btns-x" %>
                <%= size.number %> 
              </button>
            <% end %>
          </li>
        <% end %>

        <% @colors.each do |color| %>
          <li class="<%= filter_applied_class(color.name, "color") %>">
            <%= form_with(url: products_path, method: :get, data: { controller: "search-form" , turbo_frame: "products", turbo_action: "advance"}) do |form| %>
              <button 
                name="remove_color_filter" 
                id="remove_color_filter" 
                value=<%= color.name.downcase %>
                type="submit"
                class="applied-filters-btns"
              >
                <%= image_tag "icons/x.png", alt:"remove filter", class:"applied-filters-btns-x" %>
                <%= color.name %> 
              </button>
            <% end %>
          </li>
        <% end %>

        <% @brands.each do |brand| %>
          <li class="<%= filter_applied_class(brand.name, "brand") %>">
            <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
              <button 
                name="remove_brand_filter" 
                id="remove_brand_filter" 
                value=<%= brand.name.downcase %>
                type="submit"
                class="applied-filters-btns"
              >
                <%= image_tag "icons/x.png", alt:"remove filter" %>
                <%= brand %>
              </button>
            <% end %>
          </li>
        <% end %>

        <% @categories.each do |category| %>
          <li class="<%= filter_applied_class(category.name, "category") %>">
            <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
              <button 
                name="remove_category_filter" 
                id="remove_category_filter" 
                value=<%= category.name.downcase %>
                type="submit"
                class="applied-filters-btns"
              >
                <%= image_tag "icons/x.png", alt:"remove filter", class:"applied-filters-btns-x" %>
                <%= category %>
              </button>
            <% end %>
          </li>
        <% end %>

        <% @min_price_filter.present? ? li_class = "applied-filters active" : li_class = "applied-filters" %>

        <li id="min-price-filter-applied" class="<%= li_class %>">
          <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
            <button 
              name="remove_min_price_filter" 
              id="remove-min-price-filter" 
              value="0"
              type="submit"
              class="applied-filters-btns"
              id="min-price-filter-applied-btn"
            >
              <%= image_tag "icons/x.png", alt:"remove filter", class:"applied-filters-btns-x" %>
              0
            </button>
          <% end %>
        </li>

        <% @max_price_filter.present? ? li_class = "applied-filters active" : li_class = "applied-filters" %>
        <li id="max-price-filter-applied" class="<%= li_class %>">
          <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
            <button 
              name="remove_max_price_filter" 
              id="remove-max-price-filter" 
              value=0
              type="submit"
              class="applied-filters-btns"
              id="max-price-filter-applied-btn"
            >
              <%= image_tag "icons/x.png", alt:"remove filter", class:"applied-filters-btns-x" %>
              0 
            </button>
          <% end %>
        </li>
      </ul>
    </div> 

    <%# ---------- start of filters -----------%>
    <div>
      <p>Size:</p>
      <ul class="products-container__filter-sizes">
        <% @sizes.each do |size| %>
          <li class="products-container__filter-sizes-item">
            <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
              <button 
                name="size_filter"
                id="size_filter" 
                value=<%= size.number %>
                class="options-to-filter products-container__filter-sizes-item-button"
              >
                <%= size.number %> 
                
              </button>
            <% end %>
          </li>
        <% end %>
      </ul> 
    </div>

    <div>
      <p>Color:</p>
      <ul class="products-container__filter-colors">
        <% @colors.each do |color| %>
          <li class="products-container__filter-colors-item">
            <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
              <button 
                name="color_filter" 
                type="submit" 
                id="color-filter"
                value=<%= color.name.downcase %>
                class="options-to-filter products-container__filter-colors-item-button"
              >
              </button>
            <% end %>
          </li>
        <% end %>
      </ul> 
    </div>

    <div>
      <p>Brand:</p>
      <ul class="products-container__filter-brands">
        <% @brands.each do |brand| %>
          <li class="products-container__filter-brands-item">
            <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
              <button 
                name="brand_filter" 
                type="submit" 
                id="brand-filter"
                value=<%= brand.name.downcase %>
                class="options-to-filter products-container__filter-brands-item-button"  
              >
                <%= brand.name %> 
              </button>
            <% end %>
          </li>
        <% end %>
      </ul> 
    </div>

    <div>
      <p>Category:</p>
      <ul class="products-container__filter-categories">
        <% @categories.each do |category| %>
          <li class="products-container__filter-categories-item">
            <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
              <button 
                name="category_filter" 
                type="submit" 
                id="category-filter"
                value=<%= category.name.downcase %>
                class="options-to-filter products-container__filter-categories-item-button"
              >
                <%= category.name %> 
              </button>
            <% end %>
          </li>
        <% end %>
      </ul> 
    </div>

    <div class="products-container__filter-div">
      <p>Price:</p>
      <div class="products-container__filter-prices">
        <div>
          <span>min</span>
          <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
            <%= form.number_field :min_price_filter %>
            <%= form.submit "", id:"min-price-filter-btn", data: { action: "click->search-form#search"} %>
          <% end %>
        </div>
        
        <div>
        <span>max</span>
          <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
            <%= form.number_field :max_price_filter%>
            <%= form.submit "", id:"max-price-filter-btn", data: { action: "click->search-form#search"} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>