 <div class="products-container__filters filters_active">

    <div>
      <strong>Applied filters:</strong>
      <ul class="products-container__applied-filters-list">
        <%# these will be dinamically inserterd and deleted %>
        <li class="products-container__header-filters-applied-item">Hard Coded 1</li>
        <li class="products-container__header-filters-applied-item">Hard Coded 2</li>
        <li class="products-container__header-filters-applied-item">Hard Coded 3</li>
      </ul> 
    </div> 

    <div>
      <strong>Size:</strong>
      <ul class="products-container__sizes">
        <% [5, 5.5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 9.5, 10, 10.5, 11, 11.5, 12, 12.5, 13, 13.5, 14].each do |size| %>
          <li>
          <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>

            <button name="query" type="submit" id="query" value=<%= size %> data-action="input->search-form#search"><%= size %> </button>
          <% end %>
          </li>
        <% end %>
      </ul> 
    </div>

    <div>
      <strong>Color:</strong>
      <ul class="products-container__colors">
        <% ["Blue", "Black", "White", "Red", "Pink", "Purple", "Orange", "Green", "Yellow", "Grey", "Cyan", "Violet", "Brown"].each do |color| %>
          <li>
            <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
              
              <%= form.hidden_field :query , class:"add_query", value: "" %>

              <button 
                name="color_filter" 
                type="submit" 
                id="color-filter"
                value=<%= color %>
                data-action="input->search-form#search">
                <%= color %> 
              </button>

            <% end %>
          </li>
        <% end %>
      </ul> 
    </div>

    <div>
      <strong>Brand:</strong>
      <ul class="products-container__brands">
        <% ["Nike", "Addidas"].each do |brand| %>
          <li>
          <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>

            <%= form.hidden_field :query , class:"add_query", value: "" %>

            <button 
              name="brand_filter" 
              type="submit" 
              id="brand-filter"
              value=<%= brand %>
              data-action="input->search-form#search">
              <%= brand %> 
            </button>
          <% end %>
          </li>
        <% end %>
      </ul> 
    </div>

    <div>
      <strong>Category:</strong>
      <ul class="products-container__categories">
        <% ["Running", "Casual", "Gym", "Style", "Street"].each do |category| %>
          <li>
            <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
            
            <%= form.hidden_field :query , class:"add_query", value: "" %>
            
            <button 
              name="category_filter" 
              type="submit" 
              id="category-filter"
              value=<%= category %>
              data-action="input->search-form#search">
              <%= category %> 
            </button>
              
            <% end %>
          </li>
        <% end %>
      </ul> 
    </div>

    <div>
      <strong>Price:</strong>
      <div>
        <span>min</span>
        <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
          <%= form.hidden_field :query , class:"add_query", value: "" %>
          <%= form.text_field :min_price_filter, data: { action: "input->search-form#search"} %>
        <% end %>
        
        <span>max</span>
        <%= form_with(url: products_path, method: :get, data: { controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
          <%= form.hidden_field :query , class:"add_query", value: "" %>
          <%= form.text_field :max_price_filter, data: { action: "input->search-form#search"} %>
        <% end %>
      </div>
    </div>
  </div>