<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new-product-container__form-labels">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, placeholder: "Type product name" %>
  </div>

  <div class="new-product-container__form-labels">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, placeholder: "Type product description" %>
  </div>

  <div class="new-product-container__form-labels">
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity, placeholder: "Type product quantity" %>
  </div>

  <div class="new-product-container__form-labels">
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price, placeholder: "$" %>
  </div>
  
  <div class="new-product-container__form-labels">
    <%= form.label :discount, style: "display: block" %>
    <%= form.number_field :discount, value: 0, placeholder: "%" %>
  </div>

  <div id="new-product-container__selects-flex">

    <div class="new-product-container__form-labels">
      <%= form.label :size_id, style: "display: block" %>
      <%= form.select :size_id, @sizes.map { |size| [size.number, size.id]} %>
    </div>
    
    <div class="new-product-container__form-labels">
      <%= form.label :color_id, style: "display: block" %>
      <%= form.select :color_id, @colors.map { |color| [color.name, color.id]} %>
    </div>

    <div class="new-product-container__form-labels">
      <%= form.label :gender_id, style: "display: block" %>
      <%= form.select :gender_id, @genders.map { |gender| [gender.name, gender.id]} %>
    </div>

    <div class="new-product-container__form-labels">
      <%= form.label :brand_id, style: "display: block" %>
      <%= form.select :brand_id, @brands.map { |brand| [brand.name, brand.id]} %>
    </div>

    <div class="new-product-container__form-labels">
      <%= form.label :collection_id, style: "display: block" %>
      <%= form.select :collection_id, @collections.map { |collection| [collection.name, collection.id]} %>
    </div>
  </div>

  <div id="new-product-container__form-categories">
    <%= form.label :category_ids, id: "new-product-container__categories-label" %>
    <%= form.collection_check_boxes(:category_ids, @categories, :id, :name, include_hidden: false) %>
  </div>

  <div id="new-product-container__form-product-image">
    <%= form.label "Product Image", id: "new-product-container__form-product-image-label" %>
    <%= form.file_field :image1, id: "new-product-container__form-product-image-field" %>
  </div>

  <%= form.submit "Add Product", id: "new-product-container__form-button" %>
<% end %>

<div id="fixed-buttons-div">
  <button class="open-modal">New Brand</button>
  <button class="open-modal">New Category</button>
</div>

<%#  Modal for adding a new Brand %>
  <div id="brand-modal-wrapper">
    <div id="brand-modal">
      <div class="modal-wrapper__title">
        <h3>New brand</h3>
        <button class="close-modal">
          <%= image_tag "icons/x.png" %>
        </button>      </div>
      <h4>Brands available</h4>
      <select>
        <% @brands.each do |brand| %>
          <option><%= brand.name %></option>
        <% end %>
      </select>
      <%= render partial: "brands/form" %>
    </div>
  </div>

<%#  Modal for adding a new Category %>
  <div id="category-modal-wrapper">
    <div id="category-modal">
      <div class="modal-wrapper__title">
        <h3>New Brand</h3>
        <button class="close-modal">
          <%= image_tag "icons/x.png" %>
        </button>
      </div>
      <h4>Categories available</h4>
      <select>
        <% @categories.each do |category| %>
          <option><%= category.name %></option>
        <% end %>
      </select>
      <%= render partial: "categories/form" %>
    </div>
  </div>

