<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :size, style: "display: block" %>
    <%= form.select :size, [5, 5.5, 6, 6.5, 7, 7.5, 8, 8.5, 9, 9.5, 10, 10.5, 11, 11.5, 12, 12.5, 13, 13.5, 14] %>
  </div>

  <div>
    <%= form.label :color, style: "display: block" %>
    <%= form.select :color, ["Blue", "Black", "White", "Red", "Pink", "Purple", "Orange", "Green", "Yellow", "Grey", "Cyan", "Violet", "Brown"] %>
  </div>

  <div>
    <%= form.label :gender, style: "display: block" %>
    <%= form.select :gender, ["Male", "Female", "Other"] %>
  </div>

  <div>
    <%= form.label :brand, style: "display: block" %>
    <%= form.select :brand_id, @brands.map { |brand| [brand.name, brand.id] } %>

    <%= button_to "New Brand" %>

    <div style="margin: 20px; padding: 20px; background-color: grey">
      Testing new Brand
      <%= form_with model: Brand do |form| %>
        <div>
          <%= form.label :name, style: "display: block" %>
          <%= form.text_field :name, value: "" %>
        </div>

        <div>
          <%= form.submit "Add Brand" %>
        </div>
      <% end %>
      <h3>Brands available</h3>
      <ul>
        <% @brands.each do |brand| %>
          <li><%= brand.name %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div>
    <%= form.label :discount, style: "display: block" %>
    <%= form.number_field :discount %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.select :category_id, @categories.map { |category| [category.name, category.id] } %>

    <%= button_to "New Category" %>

    <div style="margin: 20px; padding: 20px; background-color: grey">
      Testing new Category
      <%= form_with model: Category do |form| %>
        <div>
          <%= form.label :name, style: "display: block" %>
          <%= form.text_field :name, value: "" %>
        </div>

        <div>
          <%= form.submit "Add Category" %>
        </div>
      <% end %>
      <h3>Categories available</h3>
      <ul>
        <% @categories.each do |category| %>
          <li><%= category.name %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :images, style: "display: block" %>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
