  <div id="<%= dom_id product %>", class="products-container__product-card" >
    <% product.discount > 0 ? priceClass = "products-container__product-card-price discounted" : priceClass = "products-container__product-card-price" %>
      <div class=products-container__product-card-img-div>
        <% if product.image1.attached? %>
          <%= link_to product, class:"products-container__product-card" do %>
            <%= image_tag product.image1, class:"products-container__product-card-img" %>
          <% end %>
        <% else %>
          <%= link_to product, class:"products-container__product-card" do %>
            <%= image_tag "no-product-image.png", class:"products-container__product-card-img" %>
          <% end %>
        <% end %>
        <span>
          <p class="<%= priceClass %>">
            <%= number_to_currency(product.price, precision: 0) %>
          </p>
          <% if product.discount > 0 %>
            <p class="products-container__product-card-price with-discount">
              <%= number_to_currency(product.price * (1 - (product.discount.to_f/100)), precision: 0) %>
            </p>
          <% end %>
        </span>
      </div>

    <div class="products-container__color-carrousel">
      <% same_product_different_colors(product, @products).map do |p|%>
        <div id="products-container__color-carrousel-options">
          <% if p.image1.attached? %>
            <%= link_to(p) do %>
              <%= image_tag p.image1, class: "products-container__color-img", alt: "#{product.name} in #{product.color}"%>
            <% end %>  
          <% else %>
            <%= link_to(p) do %>
              <%= image_tag "no-product-image.png", class: "products-container__color-img", alt: "product has no image"%>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <p class="products-container__product-name"><%= product.name %></p>
    <p class="products-container__product-brand"><%= product.brand.name %></p>
    <p class="products-container__product-color-quantity"> colors: <%= same_product_different_colors(product, @products).length + 1  %> </p>
  </div>