<div id="<%= dom_id product %>">
  <% if product.images.attached? %>
    <% product.images.each do |image| %>
      <%= image_tag image, width: "250px", height: "250px" %>
    <% end %>
  <% else %>
    <%= image_tag "no-product-image.png", width: "250px", height: "250px" %>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>quantity:</strong>
    <%= product.quantity %>
  </p>

  <p>
    <strong>size:</strong>
    <%= product.size %>
  </p>

   <p>
    <strong>color:</strong>
    <%= product.color %>
  </p>

</div>
