<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<%= form_with(url: products_path, method: :get, data: {controller: "search-form", turbo_frame: "products", turbo_action: "advance"}) do |form| %>
  <%= form.label :query, "Search shoes by name" %>
  <%= form.text_field :query, data: {action: "input->search-form#search"} %>
  <%= form.submit "Search" %>
<% end %>

<div id="products">
  <%= render "products", products: @products %>
</div>

<%= link_to "New product", new_product_path %>
<%= link_to "Back to Home", root_path %>

<% if current_user %>
  <%= link_to "Orders", user_orders_path(current_user) %>
<% end %>