<nav id="admin-nav-container">
  <ul id=admin-nav-container__links-list>
    <%= image_tag "icons/heart.png", class:"admin-nav-container__logo"%>
      <li class="admin-nav-container__link">
        <%= image_tag "icons/heart.png", class:"admin-nav-container__link-icon"%>
        <%= link_to "Orders", admin_orders_path() %>
      </li>

      <li class="admin-nav-container__link">
        <%= image_tag "icons/heart.png", class:"admin-nav-container__link-icon"%>
        <%= link_to "Products", admin_products_path() %>
      </li>

      <li class="admin-nav-container__link">
        <%= image_tag "icons/heart.png", class:"admin-nav-container__link-icon"%>
        <%= link_to "Categories", admin_categories_path() %>
      </li>

      <li class="admin-nav-container__link">
        <%= image_tag "icons/heart.png", class:"admin-nav-container__link-icon"%>
        <%= link_to "Brands", admin_brands_path() %>
      </li>

      <li class="admin-nav-container__link">
        <%= image_tag "icons/heart.png", class:"admin-nav-container__link-icon"%>
        <%= link_to "Promo Codes", admin_promo_codes_path() %>
      </li>

      <li class="admin-nav-container__link">
        <%= image_tag "icons/heart.png", class:"admin-nav-container__link-icon"%>
        <%= link_to "Iconics", admin_iconics_path() %>
      </li>

      <li class="admin-nav-container__link">
        <%= image_tag "icons/heart.png", class:"admin-nav-container__link-icon"%>
        <%= link_to "Users", admin_users_path()  %>
      </li>
  </ul>
</nav>