<nav id="admin-nav-container">
  <div>
    <h3 id="admin-nav-container__logo">V&T e-commrece</h3>
    <ul id="admin-nav-container__ul">
        <li class="admin-nav-container__li">
          <%= link_to admin_orders_path(), class: "admin-nav-container__link" do %>
            <%= image_tag "icons/shopping-cart.png", class:"admin-nav-container__link-icon"%>
            <p>Orders</p>
          <% end %>
        </li>
        <li class="admin-nav-container__li">
          <%= link_to admin_products_path(), class: "admin-nav-container__link" do %>
            <%= image_tag "icons/shoes.png", class:"admin-nav-container__link-icon"%>
            <p>Products</p>
          <% end %>

          <ul class="admin-nav-container__li-ul">
            <li>Option1</li>
            <li>Option2</li>
            <li>Option3</li>
          </ul>
        </li>
        <li class="admin-nav-container__li">
          <%= link_to admin_categories_path(), class: "admin-nav-container__link" do %>
            <%= image_tag "icons/categories.png", class:"admin-nav-container__link-icon"%>
            <p>Categories</p>
          <% end %>
        </li>
        <li class="admin-nav-container__li">
          <%= link_to admin_brands_path(), class: "admin-nav-container__link" do %>
            <%= image_tag "icons/brands.png", class:"admin-nav-container__link-icon"%>
            <p>Brands</p>
          <% end %>
        </li>
        <li class="admin-nav-container__li">
          <%= link_to admin_promo_codes_path(), class: "admin-nav-container__link" do %>
            <%= image_tag "icons/coupons.png", class:"admin-nav-container__link-icon" %>
            <p>Coupons</p>
          <% end %>
        </li>
        <li class="admin-nav-container__li">
          <%= link_to admin_iconics_path(), class: "admin-nav-container__link" do %>
            <%= image_tag "icons/iconics.png", class:"admin-nav-container__link-icon"%>
            <p>Iconics</p>
          <% end %>
        </li>
        <li class="admin-nav-container__li">
          <%= link_to admin_users_path(), class: "admin-nav-container__link" do %>
            <%= image_tag "icons/users.png", class:"admin-nav-container__link-icon"%>
            <p>Users</p>
          <% end %>
        </li>
        <li class="admin-nav-container__li">
          <%= link_to admin_decorations_path(), class: "admin-nav-container__link" do %>
            <%= image_tag "icons/background.png", class:"admin-nav-container__link-icon"%>
            <p>Decorations</p>
          <% end %>
        </li>
    </ul>
  </div>
  <div>
    <div id="admin-nav-container__hide">Hide</div>
    <div id="admin-nav-container__show-store">
      <%= link_to "Visit Store", root_path %>
    </div>
  </div>
</nav>