<%# DESKTOP ONLY HEADER %>

<header id="header-container">
  <div>
    <span>Icon 1</span>
    <span>Icon 2</span>
  </div>
    <ul id="header-container__ul">
    <li>Find a Store</li>
    <li>Help</li>
    <li>Join Us</li>
    <li>Sign In</li>
  </ul>
</header>

<%# MOBILE/DESKTOP NAV %>

<nav id="nav-container">
  <span id="nav-container__logo">Logo</span>
  <ul id="nav-container__ul">
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Products", products_path %></li>
    <li><%= link_to "New Product", new_product_path %></li>
    <% if current_user %>
    <li><%= link_to "Orders", user_orders_path(current_user) %></li>
    <li><%= link_to "New promo code", new_promo_code_path %></li>
    <% end %>    
  </ul>
  <div id="nav-container__icons">
      <span>Icon 1</span>
      <span>Icon 2</span>
  </div>
  <div id="nav-container__hamburger-menu">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>

<%= link_to "Users", users_path %>
<%= link_to "Products", products_path %>

<%= link_to "New Product", new_product_path %>
<% if current_user %>
  <%= link_to "Orders", user_orders_path(current_user) %>
  <%= link_to "New promo code", new_promo_code_path %>
<% end %>