<!DOCTYPE html>
<html>
  <head>
    <title>ShoesStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# if current_user.role === "admin" %>
      <%= render "layouts/admin_dashboard" %>
    <%# else %>
      <%#= render "layouts/header" %>
      <%#= yield %>
      <%#= render "layouts/footer" %>
    <%# end %>





    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
